@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

.accordion {
    font-family: 'Open Sans', sans-serif;

    height: 100%;
    opacity: 0.7;
    margin-top: 35px;

    i {
        margin: 0 10px;
        font-size: 16px;
    }

    img {
        margin: 0 10px;
        width: 20px;
        fill: #009F7F;
    }

    .accordion-button {
        font-weight: 600;
        font-size: 14px;
        border: none;
        outline: none;

        &:focus {
            outline: none;
            box-shadow: none;
            border-color: white;
            color: #009F7F;
            background-color: white;
            border: none;
        }

        &:not(.collapsed) {
            color: #009F7F;
            background-color: white;
            border: none;

            &::after {
                color: #009F7F;
                background-image: url(../../../src/assets/images/arrow.svg);
            }
        }

        &::after {
            background-size: 10px;
            border: none;
        }


    }
}

.accordion-body {
    padding: 1rem 4rem;
    font-weight: 500;
    user-select: none;

    &:focus-within {
        color: #009F7F;
        background-color: white;
    }

    cursor: pointer;
}

.accordion-item{
    border: none;
}