.MyOders {

    width: 100%;
    background-position: 0px -100px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 0;
    // padding-top: 90px;
    background-color: #f3f4f6;

    .slogan-content {

        height: 100%;

        .san {
            height: 100%;
            display: flex;

            .Folderbar {
                left: 0;
                width: 25.7%;
                height: 100%;
                font-weight: 600;
                font-size: 18px;

                .Wallet {
                    width: 90%;
                    height: 22%;
                    border: 1px solid rgba(209, 207, 207, 0.836);
                    border-radius: 2%;
                    padding: 32px 40px;

                    .WalletA {
                        height: 30%;
                        text-align: left;
                        border-bottom: 1px dashed rgba(209, 207, 207, 0.836);
                        margin-bottom: 10%;
                    }

                    .WalletB {
                        height: 20%;
                        text-align: left;

                        .text {
                            margin-right: 157px;
                            min-width: 150px;
                            display: inline-flex;
                        }
                    }
                }

                .Func-Category {
                    width: 90%;
                    height: 42%;
                    margin-top: 10%;
                    border: 1px solid rgba(209, 207, 207, 0.836);
                    border-radius: 2%;
                    font-size: 18px;
                    cursor: pointer;

                    .Func-CategoryA {
                        padding: 32px 40px;
                        height: 80%;
                        border-bottom: 1px solid rgba(209, 207, 207, 0.836);
                        text-align: left;
                        margin-bottom: 0;

                        .Func-Categorya {
                            height: 20%;
                            padding-top: 20px;

                            &:hover {
                                color: #009F7F;
                            }
                        }
                    }

                    .Func-CategoryB {
                        padding: 28px 0;
                        text-align: left;

                        .Func-Categoryb {
                            padding: 8px 40px;

                            &:hover {
                                color: #009F7F;
                            }
                        }

                    }
                }
            }

            .Infor {
                right: 0;
                width: 100%;
                height: 100%;
                display: flex;

                .Orders {
                    width: 100%;
                    height: 80%;

                    .List-Order {
                        height: 100%;
                        border: 1px solid rgba(209, 207, 207, 0.836);
                        background-color: #fff;
                        padding: 25px 0 25px 25px;

                        h3 {
                            text-align: left;
                            margin-bottom: 25px;
                            font-weight: 600;
                            font-size: 20px;
                        }

                        .Piece-Orders {
                            overflow: hidden;
                            font-size: 14px;

                            .scrollbar {
                                float: left;
                                height: 830px;
                                width: 100%;
                                overflow-y: auto;
                            }

                            .force-overflow {
                                min-height: 450px;
                                margin-right: 25px;
                                .navlink {
                                    text-decoration: none;
                                    color: black;

                                    .Piece-Order-Top {
                                        margin-top: 0 !important;
                                    }

                                    .boder-green {
                                        border: 2px solid #009F7F !important;
                                    }

                                    .Piece-Order {
                                        color: black;
                                        text-decoration: initial;
                                        cursor: pointer;
                                        border: 2px solid #F3F4F6;
                                        border-radius: 4px;
                                        background-color: #F3F4F6;
                                        border-radius: 4px;
                                        font-size: 20px;
                                        margin-bottom: 16px;

                                        &:active {
                                            border: 2px solid #009F7F;
                                        }

                                        .id_Order {
                                            font-size: 14px;
                                            padding: 12px;
                                            border-bottom: 1px solid rgba(209, 207, 207, 0.836);
                                            text-align: left;
                                            align-items: center;
                                            // font-size: 20px;
                                            display: flex;
                                            justify-content: space-between;

                                            .id_save {
                                                margin: auto 0;
                                                font-weight: 700;

                                                .id {
                                                    font-weight: lighter;
                                                }
                                            }

                                            .status {
                                                background-color:#3B82F6;
                                                font-weight: 600;
                                                color: #fff;
                                                padding: 8px 12px;
                                                border-radius: 4px;
                                                align-items: center;
                                                display: flex;
                                                justify-content: center;
                                            }

                                            .statusRej {
                                                background-color: red;
                                                font-weight: 600;
                                                color: #fff;
                                                padding: 8px 12px;
                                                border-radius: 4px;
                                                align-items: center;
                                                display: flex;
                                                justify-content: center;
                                            }
                                            
                                            .statusAc {
                                                background-color: #009F7F;
                                                font-weight: 600;
                                                color: #fff;
                                                padding: 8px 12px;
                                                border-radius: 4px;
                                                align-items: center;
                                                display: flex;
                                                justify-content: center;
                                            }

                                        }

                                        .infor_Order {
                                            padding: 12px;
                                            text-align: left;

                                            div {
                                                font-size: 14px;
                                                margin: 15px 0;
                                                display: flex;
                                                justify-content: space-between;

                                                .infor_name {
                                                    min-width: 9.5rem;
                                                    display: inline-block;
                                                }
                                            }

                                            .Bolder {
                                                font-weight: bold;
                                            }

                                            .Margin {
                                                margin-bottom: 15px;
                                            }
                                        }
                                    }
                                }
                            }

                            #style-3::-webkit-scrollbar-track {
                                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                                box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                                background-color: #F5F5F5;
                            }

                            #style-3::-webkit-scrollbar {
                                width: 3px;
                                background-color: #F5F5F5;
                            }

                            #style-3::-webkit-scrollbar-thumb {
                                background-color: #000000;
                            }
                        }
                    }
                }

                .Details {
                    background-color: #fff;

                    width: 100%;

                    border: 1px solid rgba(209, 207, 207, 0.836);
                    display: none;

                    .Order-Details {
                        // height: 30%;
                        border-bottom: 1px solid rgba(209, 207, 207, 0.836);

                        .title {
                            // height: 30%;
                            padding: 20px;
                            border-bottom: 1px solid rgba(209, 207, 207, 0.836);
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            h3 {
                                font-weight: 300;
                                margin-bottom: 0;
                            }

                            span {
                                padding: 0 8px;
                            }

                            div {
                                font-size: 16px;

                                button {
                                    &:hover {
                                        color: #009F7F;
                                        cursor: pointer;
                                    }

                                    border : none;
                                    background-color: invert($color: #000000);
                                    margin-right : 16px;
                                    align-items : center;

                                    i {
                                        margin-right: 8px;
                                        font-size: 20px;
                                    }
                                }

                                a {
                                    color: #009F7F;

                                    &:hover {
                                        cursor: pointer;
                                    }

                                    i {
                                        margin-right: 8px;
                                    }
                                }
                            }
                        }

                        .Add_Total {
                            display: flex;
                            min-height: 20px;
                            height: 70%;
                            justify-content: space-between;

                            .Address {
                                border-right: 1px solid rgba(209, 207, 207, 0.836);
                                width: 60%;
                                padding: 16px 20px;
                                text-align: left;

                                .Shipping_Add {
                                    height: 40%;
                                    margin-bottom: 18px;

                                    .Shipping {
                                        font-weight: 600;
                                        font-size: 15px;
                                        margin-bottom: 9px;
                                    }
                                }

                                .Billing_Add {
                                    height: 40%;

                                    .Billing {
                                        font-weight: 600;
                                        font-size: 15px;
                                        margin-bottom: 9px;
                                    }
                                }
                            }

                            .Total {
                                width: 40%;
                                flex-direction: column;
                                padding: 16px 20px;
                                display: flex;
                                font-size: 16px;
                                color: #555657d7;

                                div {
                                    display: flex;
                                    justify-content: space-between;
                                    margin-bottom: 12px;
                                }

                                .total {
                                    margin-bottom: 0;
                                    font-weight: 600;
                                    color: #000000;
                                }
                            }
                        }
                    }

                    .Space-White {
                        height: 6%;
                    }

                    .Order-Items {
                        height: 78%;
                        // border-top: 1px solid black;
                        margin-bottom: 0;

                        .Test {
                            background-color: #F3F4F6;
                            // height: 8%;
                            width: 100%;
                            display: flex;
                            border-bottom: 1px solid rgba(209, 207, 207, 0.836);

                            .Item {
                                width: 55%;
                                padding: 12px 16px 12px 100px;
                                font-weight: 600;
                                font-size: 15px;
                                text-align: left;

                            }

                            .Quantity {
                                width: 21%;
                                padding: 12px 16px;
                                font-weight: 600;
                                font-size: 15px;
                            }

                            .Price {
                                width: 21%;
                                padding: 12px 20px 12px 16px;
                                font-weight: 600;
                                font-size: 15px;
                                text-align: right;
                            }

                            .Scrollbar {
                                width: 3%;
                            }
                        }
                    }
                }
            }

        }
    }
}


.userLogin {
    margin: 0 32px 56px 0;
    display: none;

    .user__wallet {
        background-color: var(--white-color);
        width: 320px;
        padding: 32px 40px;
        margin-bottom: 20px;
        border-radius: 4px;
        border: 1px solid rgba(0, 0, 0, 0.1);

        .user__wallet-title {
            font-size: 16px;
            font-weight: 600;
            padding-bottom: 16px;
            margin-bottom: 16px;
            border-bottom: 1px dashed rgba(229, 231, 235, 1);
        }

        .user__wallet-list {
            font-weight: 600;
            font-size: 14px;

            .user__wallet-list-item {
                list-style: none;
                padding-left: 0;
                margin-bottom: 8px;
                display: flex;
                justify-content: space-between;
            }
        }
    }


    .user_sidebar {
        width: 320px;
        padding-top: 32px;
        background-color: var(--white-color);
        border-radius: 4px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        text-align: left;

        .user_sidebar-list {
            padding-left: 40px;

            .user_sidebar-list-item {
                list-style: none;
                font-weight: 600;
                font-size: 16px;
                padding: 16px 0;

                .user_sidebar-list-item-link {
                    text-decoration: none;
                    color: var(--black-color);
                    padding: 8px 0;
                    cursor: pointer;
                }

                .user_sidebar-list-item-link-profile {
                    color: var(--green-color);
                }

                .user_sidebar-list-item-link:hover {
                    color: var(--green-color);
                }
            }

        }

        .user_sidebar-logout {
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            padding: 16px 0;
            margin-top: 24px;

            .user_sidebar-logout-link {
                font-size: 16px;
                text-decoration: none;
                color: var(--black-color);
                font-weight: 600;
                margin-left: 40px;
                padding: 16px 0;
                display: block;
                cursor: pointer;
            }

            .user_sidebar-logout-link:hover {
                color: var(--green-color);
            }

        }
    }
}


//Mobile
@media (max-width: 46.1875em) {
    .MyOders {
        padding-top: 56px;

        .slogan-content {}

        .Infor {
            .Orders {}

            .Details {}
        }
    }

}

// Tablet
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    .MyOders {
        padding-top: 64px;

        .slogan-content {
            // padding: 40px 20px
        }

        .Infor {
            .Orders {}

        }

        .Details {
            display: block;
        }
    }
}


// PC
@media (min-width: 64em) {

    .MyOders {
        padding-top: 90px;

        .slogan-content {
            padding: 56px 55px;
        }

        .Infor {
            .Orders {
                max-width: 340px;
            }

            .Details {
                display: block !important;
                margin-left: 24px;
            }
        }
    }
}

@media (min-width: 77.5em) {
    .userLogin {
        display: block;
    }
}