
version: "3.7"

services:
  backend:
    image: quanganhquanganh/pick-bazar-laravel:latest
    container_name: pick-bazar-backend
    restart: unless-stopped
    ports:
      - 8080:8080

  frontend:
    image: quanganhquanganh/pick-bazar-frontend:latest
    container_name: pick-bazar-frontend
    restart: unless-stopped
    ports:
      - 8090:8080
