
:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color : #333;
}
.tag-display-none {
    display: none;
}
//
 
.header {
    width   : 100%;
    position: fixed;
    z-index : 5;
    //background-image: linear-gradient(0, #fe6232, #f8492f);
    padding         : 16px 16px;
    background-color: #fff;
    //box-shadow      : 0px 15px 10px -15px rgba(33, 33, 33, .2);
    box-shadow: 0 4px 2px -2px rgba(33, 33, 33, .2);
}

.header__navbar {
    display        : flex;
    justify-content: space-between;

    .header__navlist-list {
        align-self: center;
        list-style: none;
        margin    : 0;

        .header__navbar-item {
            position: relative;
            margin  : 0 20px;
            padding: 4px 0;

            .header__navbar-item-logo {
                height: 20px;
                align-items: center;
                display: inline;
            }
        }

        .header__navbar-item,
        .header__navbar-item-link {
            display        : inline-block;
            font-size      : 16px;
            color          : #5e656f;
            text-decoration: none;
            font-weight    : 500;
        }

        .header__navbar-item {
            a:hover {
                color : #2eb097;
                cursor: pointer;
            }
        }
    }
}

.footer{
    width   : 100%;
    position: fixed;
    z-index : 5;
    bottom: 0;
    .bottom__navbar{
            background-color: #fff;
            box-shadow      : 0 -10px 20px -5px rgba(33, 33, 33, .2);

        .navbar__list{
            display: flex;
            justify-content: space-between;
            margin: 0;
            padding: 6px 8px;
            bottom: 0;
            a{
                color: #000;
            }
            .navbar__list-item{
                padding: 8px;
                align-items: center;
                list-style-type: none;
                font-size: 20px;
                cursor: pointer;
                color: #000;
                :hover{
                    color: #2eb097;

                }
            }

        }
    }
}

//Mobile
@media (max-width: 46.1875em) {
    .header__navbar {
        justify-content: center;
        .header__navlist-list:nth-child(2){
            display: none;
        }
        .header__navlist-list{
            .header__navbar-item{
                padding:0;
              
            }
        }
    }

}
// Tablet
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    .header__navbar {
        justify-content: center;
        .header__navlist-list:nth-child(2){
            display: none;
        }
    }

}


// PC
@media (min-width:  64em) {
    .header{
        padding: 22px 16px;
    }
    .header__navbar {
        .header__navlist-list{
            padding-left: 0;
            .header__navbar-item{
                
                .header__navbar-item-logo{
                    height: 26px;
                    
                }
            }
        }
    }
    .footer{
        display: none;
    }
}

