.row {
    background-color: #f3f4f6;
    margin          : 0;
}

.item-container {
    padding         : 35px 20px;
}
.sidebar {
    display: none;
    padding : 0;
    width   : 230px;
    height  : 100%;
    position: sticky;
    top     : 54px;
}

//Mobile
@media (max-width: 46.1875em) {
	
}
// Tablet
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    .item-container {
        .item-container-product{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
        }
    }

}
// PC
@media (min-width:  64em) {
    .sidebar{
        display: block;
    }
    .item-container {
        width           : calc(100% - 230px);
        .item-container-product{
           
            display: grid;
            grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
        }
        
    }

	
}