// @import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
.item-container {
    section {
        width: -webkit-fill-available;
    }
}

.products-admin {
        margin-top: 69px
}

.products-search {

    display: flex;
    background-color: #ffffff;
    width: 100rem;
    padding: 3rem;
    align-items: center;
    width: -webkit-fill-available;

    h3 {
        margin-right: 10rem;
        font-weight: bold;
    }

    input {
        padding: 1rem;
    }

    .search {
        width: 7rem;
        margin-left: 30px;
        line-height: 0px;
        border-color: #ffffff;
        font-size: 25px;
        color: rgb(31, 31, 238);
        cursor: pointer;
    }

    i:hover {
        background-color: #ffffff;
        color: rgb(34, 16, 97);
    }

    i:active {
        background-color: #ffffff;
        color: rgb(34, 16, 97);
    }

    button {
        margin-bottom: auto;
        width: 13rem;
        height: 52px;
    }

    .filter {
        display: flex;
        margin-left: 30px;
        color: #009f7f;
        cursor: pointer;

        h5 {
            font-weight: bold;
        }

        i {
            margin: 4px;
        }
    }

    .filter:hover {
        color: #046b56;
        cursor: pointer;
    }

    .filter-active {
        color: #046b56;
        cursor: pointer;

        i {
            transform: rotate(180deg);
            padding-top: 6px;
        }
    }
}

.products-filter {
    display: flex;
    background-color: #ffffff;
    width: 100rem;
    padding: 3rem;
    align-items: center;
    justify-content: space-around;
    width: -webkit-fill-available;

    h4 {
        margin-right: 10rem;
        font-weight: bold;
    }

    .filter-group {
        width: -webkit-fill-available;
    }

    .filter-category {
        margin-left: 50px;
        width: -webkit-fill-available;
    }

    select {
        height: 4rem;
    }
}

.products-table {
    background-color: #ffffff;
    margin-top: 30px;

    img {
        width: 60px;
        height: 60px;
    }

    td:not(:first-child) {
        padding-top: 23px;
    }

    .table-list {
        text-align: center;
    }

    .th-img {
        width: 100px;
    }

    .th-name {
        width: 300px;
    }

    span {
        width: 73px;
        height: 25px;
        border-radius: 9999px;
        color: #ffffff;
        font-size: 12px;
        line-height: 16px;
        padding: 4px 12px;
        text-align: center;
        text-transform: uppercase;
    }
    
    .active-bg {
        background-color: #009f7f;
        color: #ffffff;
    }

    .deleted-bg {
        background-color: #ff0000;
        color: #ffffff;
    }

    i {
        font-size: 20px;
        margin-left: 0.5rem;
    }

    i:hover {
        cursor: pointer;
    }

    .fa-trash-alt {
        color: red;
    }

    .fa-trash-alt:hover {
        color: rgb(136, 11, 11);
    }

    .fa-recycle {
        color: blue;
    }

    .fa-recycle:hover {
        color: rgb(11, 11, 136);
    }

    .fa-edit:hover {
        color: rgb(107, 204, 107);
    }
}

.products-pagination {
    float: right;
    margin-top: 10px;

    .page-link {
        margin: 0 0 0 0.75rem !important;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
    }
}

.featured-img {
    display: flex;
    justify-content: space-between;

    img {
        padding: 0 4px 3px 0;
    }

    h3 {
        margin-top: 45px;
    }
}

.gr-cate {

    // display: flex;
    .form-gr {
        width: 75rem;
        margin: auto;

        .item-categories-tag {
            display: flex;
            flex-wrap: wrap;

            span {
                border: 1px solid #eff1f3;
                border-radius: 10px;
                padding: 4px 10px;
                margin-right: 8px;
                cursor: pointer;
                border: 1px solid #009f7f;
                color: #009f7f;
            }
        }
    }

    .description {
        word-wrap: break-word;
        height: 100px;
    }

    input {
        height: 3rem;
    }

    label {
        margin-top: 20px;
    }

    h3 {
        margin-top: 45px;
    }
}

.modal-content {
    border-radius: 20px;
}

.modal-header {
    height: 60px !important;
    background-color: #009f7f !important;
}

.modal-title {
    margin: auto;
}

.modal-body {
    margin-bottom: 33px;
}

.frame {
    margin-right: 200px !important;
}

.modal-footer button {
    width: 150px;
    height: 40px;
}

.btn-back {
    width: 80px !important;
}

.modal-body-delete {
    text-align: center;

    i {
        margin-top: 20px;
        font-size: 80px;
        color: #009f7f;
    }

    h3 {
        margin: 20px 0 20px 0;
        font-weight: bold;
    }

    p {
        color: grey;
    }

    button {
        width: 150px;
        height: 40px;
    }
}

.modal-btn-delete {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.modal-delete {
    width: 30rem;

    .modal-content {
        height: 22rem;
    }
}

.multipleChosen,
.multipleSelect2 {
    width: 300px;
}

.upload-img-container {
    .profile__infor-avatar {
        margin: 8px 34px;
        border: 2px dashed rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        //height       : 140px; //


        .profile__infor-avatar-title {
            display: block;
            text-align: center;
            cursor: pointer;
            font-size: 14px;
            padding: 28px 0;
            color: #6B7280;

            .avatar_upload-icon {
                font-size: 36px;
                color: #6B7280;
                opacity: 0.2;
                margin-bottom: 8px;
            }

            .avatar-title-bold {
                color: var(--green-color);
                font-weight: 600;
            }

        }

        .profile__infor-avatar-input {
            //visibility: hidden;
            display: none;
            z-index: 0;
        }

    }

    .avatar-img {
        width: 100px;
        height: 100px;
        display: block;
        margin-left: 35px;
        .img {
            width: 100px;
            height: 100px;
        }

        margin-bottom: 10px;
    }
}