
.admin-component-container {

    .row {
        background-color: #f3f4f6;
        margin          : 0;
    }

    .item-container {
        width           : calc(100% - 285px);
        background-color: #f3f4f6;
        padding         : 35px 20px;
    }

    .sidebar {
        padding   : 0;
        width     : 285px;
        height    : 100%;
        //position: sticky;
        //position: -webkit-sticky;
        top       : 53px;
    }
}