.swiper {
	width: 100%;
	height: 176px;
	margin-right: 15px;
}
.swiper-container {
	padding: 20px !important;
}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
	}
}
.swiper-button-prev {
	border-radius: 100%;
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	width: 40px !important;
	height: 40px !important;
	&:after {
		font-size: 100% !important;
		font-weight: bold;
	}
	&:hover {
		background-color: #009F7F;
		color: #fff;
	}
}
.swiper-button-next {
	border-radius: 100%;
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	width: 40px !important;
	height: 40px !important;
	&:after {
		font-size: 100% !important;
		font-weight: bold;
	}
	&:hover {
		background-color: #009F7F;
		color: #fff;
	}
}