
:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color : #333;
    --green-color: #009f7f;
    --modal-color: #000;
    --gray-color : #f3f4f6;

}

.container__changePassword {
    padding-top     : 90px;
    background-color: var(--gray-color);
    height          : 1300px;
    display         : flex;


    .userLogin {
        margin: 56px 32px 56px 56px;

        .user__wallet {
            background-color: var(--white-color);
            width           : 320px;
            padding         : 32px 40px;
            margin-bottom   : 20px;
            border-radius   : 4px;
            border          : 1px solid rgba(0, 0, 0, 0.1);

            .user__wallet-title {
                font-size     : 16px;
                font-weight   : 600;
                padding-bottom: 16px;
                margin-bottom : 16px;
                border-bottom : 1px dashed rgba(229, 231, 235, 1);
            }

            .user__wallet-list {
                font-weight: 600;
                font-size  : 14px;

                .user__wallet-list-item {
                    list-style     : none;
                    padding-left   : 0;
                    margin-bottom  : 8px;
                    display        : flex;
                    justify-content: space-between;
                }
            }
        }


        .user_sidebar {
            width           : 320px;
            padding-top     : 32px;
            background-color: var(--white-color);
            border-radius   : 4px;
            border          : 1px solid rgba(0, 0, 0, 0.1);

            .user_sidebar-list {
                padding-left: 40px;

                .user_sidebar-list-item {
                    list-style : none;
                    font-weight: 600;
                    font-size  : 16px;
                    padding    : 16px 0;

                    .user_sidebar-list-item-link {
                        text-decoration: none;
                        color          : var(--black-color);
                        padding        : 8px 0;
                        cursor         : pointer;
                    }

                    .user_sidebar-list-item-link-profile {
                        color: var(--green-color);
                    }

                    .user_sidebar-list-item-link:hover {
                        color: var(--green-color);
                    }
                }

            }

            .user_sidebar-logout {
                border-top: 1px solid rgba(0, 0, 0, 0.1);
                padding   : 16px 0;
                margin-top: 24px;

                .user_sidebar-logout-link {
                    font-size      : 16px;
                    text-decoration: none;
                    color          : var(--black-color);
                    font-weight    : 600;
                    margin-left    : 40px;
                    padding        : 16px 0;
                    display        : block;
                    cursor         : pointer;
                }

                .user_sidebar-logout-link:hover {
                    color: var(--green-color);
                }

            }
        }
    }

    .change__password {
        margin: 56px 56px 56px 0;
        width : 100%;

        .change__password-form {
            background-color: var(--white-color);
            padding         : 32px;
            border-radius   : 4px;
            border          : 1px solid rgba(0, 0, 0, 0.1);

            .change__password-title {
                font-size    : 20px;
                font-weight  : 600;
                margin-bottom: 32px;

            }

            .change__password-item {
                display       : flex;
                flex-direction: column;
                position      : relative;
                margin        : 32px 0;

                .change__password-item-title {
                    font-size    : 14px;
                    font-weight  : 600;
                    color        : #6B7280;
                    margin-bottom: 12px;
                }

                .change__password-item-input {
                    padding      : 12px 16px;
                    border-radius: 4px;
                    border       : 1px solid rgba(0, 0, 0, 0.1);
                }

                .change__password-item-input:focus {
                    border : 1px solid #009f7f;
                    outline: none;
                }

                .change__password-item-icon {
                    position: absolute;
                    top     : 60%;
                    right   : 2%;

                    i {
                        font-size: 20px;
                        cursor   : pointer;
                        opacity  : 0.4;
                    }

                }


            }

            .change__password-btn {
                border       : none;
                background   : #009f7f;
                color        : var(--white-color);
                font-weight  : 600;
                padding      : 12px 20px;
                border-radius: 4px;

            }

            .change__password-btn--right {
                display        : flex;
                justify-content: right;
            }
        }
    }
}