
.edit_container {
    padding: 0 15px 0 15px;
    width: 100%;

    .Edit_Product {
        padding: 32px 0;
        border-bottom: 1px dashed #c9c4c4d2;

        h1 {
            font-size: 18px;
            margin-bottom: 0;
        }
    }

    .Edit_Form {
        .Genaral {
            padding-bottom: 2rem;
            margin: 2rem 0;
            border-bottom: 1px dashed #c9c4c4d2;
            display: flex;

            .text_General {
                padding: 32px 20px 32px 0;
                min-width: 515.66px;
                height: 100%;

                h4 {
                    font-size: 16px;
                    margin-bottom: 8px;
                }

                p {
                    margin-bottom: 0;
                    opacity: 0.7;
                }
            }

            .box_Input {
                height: 297px !important;
            }

            .box_Payment {
                height: 420px !important;
            }

            .box_Address {
                height: 580px !important;
            }

            .box_Settings {
                height: 837px !important;
            }

            .box_Logo {
                padding: 32px;
                width: 100%;
                height: 290px;
                background-color: #fff;
                border-radius: 5px;
                border: 1px solid #e1e4e4;
                box-shadow: 0 1px #acadad;

                .upload {
                    width: 100%;
                    height: 100%;

                    .box_upload {
                        height: 144px;
                        width: 100%;
                        border: 2px dashed #c9c4c4d2;
                        border-radius: 5px;
                        padding: 25px 0;
                        text-align: center;
                        cursor: pointer;

                        &:active {
                            border: 2px dashed #009F7F;
                        }

                        .fas {
                            font-size: 32px;
                        }
                    }

                    .box_img {
                        margin-top: 8px;
                        height: 32%;
                        display: flex;
                        align-items: end;

                        .wrap_img {
                            width: 66px;
                            height: 66px;
                            padding: 2px 2px 0 0;

                            img {
                                width: 64px;
                                height: 64px;
                                border-radius: 3px;
                            }
                        }
                    }
                }

                .input_Name {
                    margin-bottom: 20px;
                    height: 74px;
                    width: 100%;
                    display: block;

                    label {
                        width: 100%;
                        height: 14px;
                        font-weight: 600;
                        margin-bottom: 12px;
                        display: flex;
                        align-items: center;
                        color: #4B5563;
                    }

                    input {
                        padding: 0 16px;
                        width: 100%;
                        height: 48px;
                        border: 1px solid #e1e4e4;
                        border-radius: 5px;

                        &:focus {
                            border: 1px solid #009F7F !important;
                            outline: none;
                            transition-duration: 0.3s;
                        }
                    }

                    textarea {
                        width: 100%;
                        height: 106px;
                        padding: 12px 16px;
                        border: 1px solid #e1e4e4;
                        border-radius: 5px;

                        &:focus {
                            border: 1px solid #009F7F !important;
                            outline: none;
                            transition-duration: 0.3s;
                        }
                    }
                }

                .form_Settings {
                    height: 423px;
                    width: 100%;
                    margin-top: 40px;

                    .form_Element {
                        width: 100%;
                        height: 142px;
                        padding: 32px 0;
                        border-top: 1px dashed #c9c4c4d2;
                        display: flex;
                        flex-direction: row;
                        gap: 1.25rem;

                        .form_platform {
                            width: 375px;
                            height: 100%;

                            .tiltle_platform {
                                display: flex;
                                align-items: center;
                                margin-bottom: 12px;
                                width: 100%;
                                height: 14px;
                                font-weight: 600;
                                color: #4B5563;
                            }

                            .profile {
                                padding: 0 16px;
                            }

                            .platform {
                                width: 100%;
                                height: 50px;
                                border-radius: 5px;
                                border: 1px solid #e1e4e4;
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                color: #4B5563;

                                &:focus {
                                    border: 1px solid #009F7F !important;
                                    outline: none;
                                    transition-duration: 0.3s;
                                }

                                .logo_Plat {
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    height: 36px;
                                    width: 317px;
                                    padding: 2px 8px 2px 16px;

                                    .fab {
                                        font-size: 18px;
                                        color: #6B7280;
                                    }

                                    span {
                                        margin-left: 15px;
                                    }
                                }

                                .tick_cancel {
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    width: 59px;
                                    height: 36px;
                                    color: #CCCCCC;

                                    .fa-times {
                                        display: flex;
                                        flex-direction: row;
                                        align-items: center;
                                        text-align: center;
                                        height: 20px;
                                        width: 20px;
                                    }

                                    .fa-chevron-down {
                                        display: flex;
                                        flex-direction: row;
                                        align-items: center;
                                        text-align: center;
                                        height: 36px;
                                        width: 36px;
                                        padding: 8px;
                                    }

                                    select {
                                        border: none;
                                        color: #CCCCCC;

                                        // height: 25px;
                                        // width: px;
                                        &:focus {
                                            outline: none;
                                        }
                                    }
                                }
                            }
                        }

                        .form_profile {
                            width: 274px;
                            height: 100%;
                        }

                        .Remove {
                            background-color: transparent;
                            border: none;
                            color: red;
                            width: 177.5px;
                            margin-top: 16px;
                        }
                    }
                }

                .button_Add {
                    border: none;
                    border-radius: 5px;
                    width: 215px;
                    height: 48px;
                    color: white;
                    background-color: #009F7F;
                    opacity: 0.9;
                    font-size: 16px;
                    font-weight: 600;
                    transition-duration: 0.3s;

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }

        .Update {
            text-align: right;
            margin-bottom: 20px;

            button {
                font-size: 16px;
                font-weight: 600;
                color: white;
                background-color: #009F7F;
                opacity: 0.9;
                border: none;
                border-radius: 5px;
                width: 99px;
                height: 50px;
                transition-duration: .3s;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}