
.order-container {
    // width: -webkit-fill-available;
    width: 1615px;
    padding: 0.5rem 1rem 0rem 1rem;
    display: grid;
    gap: 1.5rem;
    margin-top: 66px;

    .order-12 {
        width: -webkit-fill-available;
        display: flex;
        gap: 1.5rem;

        .order-1 {
            border-radius: 5px;
            padding: 2rem 1.5rem;
            text-align: center;
            width: 370px;
            height: 540px;
            display: flex;
            flex-direction: column;
            background-color: #fff;
            justify-content: space-around;

            .logoShop {
                height: 12rem;

                img {
                    width: 142px;
                    height: 142px;
                    border-radius: 50%;
                }

                i {
                    font-size: 20px;
                    color: #009F7F;
                    background-color: #fff;
                    left: 38.5rem;
                    top: 18.7rem;
                    position: absolute;
                    border-radius: 100%;
                }
            }

            h1 {
                font-size: 20px;
                font-weight: 600;
                line-height: 1.75rem;
            }

            .Address {
                display: flex;
                text-align: left;
                margin-top: 20px;
                flex-direction: row;

                .logo_add {
                    margin: 2px 8px 0 0;
                    color: #D1D5DB;
                }

                address {
                    margin-bottom: 0;
                }
            }

            .Phone_number {
                display: flex;
                text-align: left;
                margin-top: 12px;
                flex-direction: row;

                .logo_phone {
                    margin: 2px 8px 0 0;
                    color: #D1D5DB;
                }

                a {
                    color: black;
                    text-decoration: none;
                }
            }

            .but-visit {
                margin-top: 1.75rem;
                height: 11%;
                background-color: #F3F4F6;
                // opacity: 0.85;
                border-radius: 5px;

                .visit_Shop {
                    width: 100%;
                    height: 100%;
                    padding: 0 20px;
                    border: none;
                    border-radius: 5px;
                    font-size: 16px;
                    font-weight: 400;

                    &:hover {
                        background-color: #009F7F;
                        color: white;
                        transition-duration: 0.3s;
                    }
                }
            }
        }

        .order-2 {
            width: 1157.25px;
            height: 540px;
            border-radius: 5px;
            background-color: #fff;
            display: flex;
            align-items: center;
            position: relative;

            .but_edit {
                background-color: #3B82F6;
                // opacity: 0.8;
                max-width: 130px;
                border-radius: 5px;
                height: 38px;
                color: white;
                right: 0.75rem;
                top: 0.75rem;
                text-align: center;
                display: flex;
                flex-direction: row;
                position: absolute;
                padding: 0 12px;

                &:hover {
                    background-color: #2563EB;
                }

                .logo_edit {
                    display: flex;
                    align-items: center;
                    font-size: 15px;
                }

                .edit_Shop {
                    border: none;
                    background-color: transparent;
                    color: white;
                    font-size: 1rem;
                    font-weight: 600;
                }
            }

            img {
                width: 100%;
                height: 85%;
            }
        }
    }

    .order-34 {
        display: flex;
        gap: 1.5rem;

        .order-3 {
            width: 1157.25px;
            height: 320px;
            border-radius: 5px;
            background-color: white;
            padding: 16px;
            display: flex;
            gap: 1.25rem;

            .Products {
                width: 361px;
                height: 289px;

                // background-color: rgb(45, 206, 198);
                .title_Box {
                    font-size: 18px;
                    font-weight: 600;
                }

                .element_Box {
                    // background-color: #2563EB;
                    margin-top: 0.75rem;
                    width: 100%;
                    border: 1px solid #F3F4F6;

                    .element {
                        width: 100%;
                        height: 75px;
                        padding: 12px 16px;
                        display: flex;
                        flex-direction: row;

                        .item_box {
                            width: 44px;
                            height: 44px;
                            border-radius: 100%;
                            align-items: center;
                            justify-content: center;
                            display: flex;

                            i {
                                font-size: 18px;
                            }
                        }

                        .text_box {
                            padding-left: 12px;

                            p {
                                margin-bottom: 0;
                            }

                            .Number {
                                font-weight: 600;
                                font-size: 18px;
                            }

                            .Name {
                                opacity: 0.6;
                            }
                        }

                        .text_box1 {
                            padding-left: 12px;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            p {
                                margin-bottom: 0;
                            }

                            .Name {
                                opacity: 0.6;
                            }
                        }
                    }

                    .bor_bot {
                        border-bottom: 1px solid #F3F4F6;
                    }
                }
            }
        }

        .order-4 {
            width: 370px;
            height: 320px;
            background-color: #fff;

            .Registered {
                width: 278px;
                height: 32.8125%;
                padding: 28px;
                display: flex;
                flex-direction: column;
                border-bottom: 1px solid #F3F4F6;

                .Registered_Since {
                    margin-bottom: 8px;
                    opacity: 0.6;
                }

                .Registered_Time {
                    font-weight: 600;
                }
            }

            .Payment {
                width: 278px;
                height: 67.1875%;
                padding: 28px;
                display: flex;
                flex-direction: column;

                .Payment_Infor {
                    font-size: 18px;
                    font-weight: 600;
                    margin-bottom: 16px;
                }

                .Payment_elements {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    opacity: 0.6;

                    .heading {
                        margin-top: 10px;
                    }
                }
            }
        }
    }


}